.container {
  background-color: var(--reactapp-component-background-color, red);
  color: var(--reactapp-component-text-color, white);
  border: 5px dashed var(--reactapp-component-border-color, blue);
  padding: 1em;
}

nav {
  background-color: var(--nav-background-color, black);
  padding: 1rem;
}

nav a {
  display: inline-block;
  color: var(--nav-link-color, pink);
  padding: 1em;
}
